@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div>Refrigerator</div>
    <div>Frig 1</div>
    <ul class=food-list>
        <li>
            <div class="name">Turkey</div>
            <div class="amount">1.2 pounds</div>
            <div class="cost">$5.00</div>
        </li>
        <li>
            <div class="name">Hot dogs</div>
            <div class="amount">2 packs</div>
            <div class="cost">$2.50</div>
        </li>
    </ul>
</div>
